@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap");

:root {
  --primary: #f36e21;
  --secondary: #00968f;
  --error: #e7195a;
}

* {
  font-family: "Nunito";
}

body {
  background: #f1f1f1;
  margin: 0;
}

header {
  background: var(--primary);
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.btn-qblue {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: var(--secondary) !important;
  --bs-btn-border-color: var(--secondary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--secondary);
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--secondary);
  --bs-btn-disabled-border-color: var(--secondary);
}

.btn-qorange {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: var(--primary) !important;
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary);
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--primary);
  --bs-btn-disabled-border-color: var(--primary);
}

.form-check-input:checked {
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--primary) !important;
}

.text-qorange {
  color: var(--primary);
}

.bg-qorange {
  background-color: var(--primary);
}

.card-zoom {
  transition: transform 0.3s ease;
}

.card-zoom:hover {
  transform: scale(1.05);
}

.custom-tooltip-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.custom-tooltip-wrapper .custom-tooltip {
  visibility: hidden;
  opacity: 0;
  width: 320px;
  background-color: #222;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  padding: 6px 10px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s;
  font-size: 13px;
  pointer-events: none;
}

.custom-tooltip-wrapper:hover .custom-tooltip,
.custom-tooltip-wrapper:focus-within .custom-tooltip {
  visibility: visible;
  opacity: 1;
}

.faq-container .accordion-button:hover,
.accordion-button:not(.collapsed) {
  background-color: var(--primary) !important;
  color: #fff !important;
}
