@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

:root {
    --primary: #f36e21;
    --secundary: #00968f;
    --error: #e7195a;
}

* {
    font-family: "Nunito";
}

.btn-qblue {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #00968F !important;
    --bs-btn-border-color: #00968F;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #05aaa2;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #00968F;
    --bs-btn-disabled-border-color: #00968F;
}

.btn-qorange {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #F36E21 !important;
    --bs-btn-border-color: #F36E21;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f98949;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #F36E21;
    --bs-btn-disabled-border-color: #F36E21;
}

body {
    background: #f1f1f1;
    margin: 0;
}

/* NAVBAR */
header {
    background: var(--primary);
}

header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #333;
    text-decoration: none;
}

/* LOGO */
.logo {
    width: 150px;
}

/* CARD */

/* img {
    width: 350px;
} */